<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Learning Vue</title>
</head>
<body class="font-serif">
    <h1 class="text-5xl font-bold">Hello Vue :)</h1>

    <div id="app">
        <div v-if="showBooks">
            <p>Title: {{ title }}</p>
            <p>Author: {{ author }}</p>
            <p>Age:  {{ age }}</p>
        </div>

        <button class="bg-blue-500 text-white px-5 py-1" @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-if="!showBooks">Show Books</span>
        </button>
        <!-- <button class="bg-black text-white px-5 py-1" v-on:click="age++">Increase Age</button>
        <button class="bg-red-500 text-white px-5 py-1" v-on:click="age--">Decrease Age</button>
        <button class="bg-green-500 text-white px-5 py-1" @click="changeTitle">Change Title</button> -->
    </div>
    

    <script src="app.js"></script>
    
</body>
</html>